<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Experiment Dashboard</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class=container  id="bigdiv">	
		<div id="settingsPanel" class=fixed>
			<h2>Settings</h2>
			<fieldset>
				
				<div class=container>
					<div id="labels" class=fixed>
						<div>Initial counter:</div>
						<div>Ending counter:</div>
						<div>Benchmark:</div>
						<div>Framework:</div>	
						<div>Device:</div>	
						<div># warm-up iterations:</div>
						<div># iterations:</div>
					</div>
					
					<div id="flex" class=flex-item>
					
						<ul class="form">
							<li>	
								<input id="inpInitialCounter" class="value" type="number" min="0", value="1" ></input>
							</li>
							<li>
								<input id="inpEndingCounter" class="value" type="number" min="0", value="45"></input>
							</li>
							<li>
								<div class=container id="containerExp">
									<select id="inpExperimentName">
										<option class="list" value="rotating-micro-7">rotating-micro-7</option>
										<option class="list" value="rotating-micro-14">rotating-micro-14</option>	
										<option class="list" value="rotating-micro-28">rotating-micro-28</option>
										<option class="list" value="rotating-small-7">rotating-small-7</option>
										<option class="list" value="rotating-small-14">rotating-small-14</option>	
										<option class="list" value="rotating-small-28">rotating-small-28</option>
										<option class="list" value="rotating-medium-7">rotating-medium-7</option>
										<option class="list" value="rotating-medium-14">rotating-medium-14</option>	
										<option class="list" value="rotating-medium-28">rotating-medium-28</option>

										<!--option class="list" value="binarytree">binarytree</option>
										<option class="list" value="fannkuch">fannkuch</option>
										<option class="list" value="fasta">fasta</option>
										<option class="list" value="fastaold">fasta old</option>
										<option class="list" value="knucleotide">knucleotide</option>
										<option class="list" value="knucleotide125000">knucleotide125000</option>
										<option class="list" value="knucleotide250000">knucleotide250000</option>
										<option class="list" value="knucleotide500000">knucleotide500000</option>
										<option class="list" value="knucleotide1000000">knucleotide1000000</option>
										<option class="list" value="knucleotide2000000">knucleotide2000000</option>
										<option class="list" value="mandelbrot">mandelbrot</option>
										<option class="list" value="nbody">nbody</option>
										<option class="list" value="nbody6250000">nbody6250000</option>
										<option class="list" value="nbody12500000">nbody12500000</option>
										<option class="list" value="nbody25000000">nbody25000000</option>
										<option class="list" value="pidigits">pidigits</option>
										<option class="list" value="regex">regex</option>
										<option class="list" value="regexold">regex old</option>
										<option class="list" value="revcomp">revcomp</option>
										<option class="list" value="revcompold">revcomp old</option>
										<option class="list" value="spectral">spectral</option>
										<option class="list" value="blank">blank</option-->
									</select>
								</div>
							</li>
							<li>
								<div class=container id="containerExp">
									<select id="inpFramework">
										<option class="list" value="Ionic" data-application-id="io.ionic.starter" data-main-activity=".MainActivity">Ionic</option>
										<option class="list" value="ReactNative" data-application-id="com.rnappexp" data-main-activity=".MainActivity">ReactNative</option>
										<option class="list" value="Xamarin" data-application-id="com.rnappexp" data-main-activity=".MainActivity">Xamarin</option>
										<option class="list" value="Flutter" data-application-id="org.secuso.privacyfriendlypasswordgenerator" data-main-activity=".activities.MainActivity">Flutter</option>
									</select>
								</div>
							</li>
							<li>
								<input id="inpDevice" class="value" type="text", value="S8"></input>
							</li>
							<li>
								<input id="inpNWarmUpIter" class="value" type="number", value=""></input>
							</li>
							<li>
								<input id="inpNIterations" class="value" type="number", value=""></input>
							</li>
						</ul>
					</div>

				<div id="divbutton">
					<button id="changeSettingsButton" onclick="changeSettings()">Change experiment settings</button>
				</div>
			</fieldset>
		</div>
		<div id="dashboard" class="flex-item">
			<h2>Dashboard</h2>

			<div id="containerlabels2" class=container>
				<div id="labels2" class=fixed>
					<div>Current counter:</div>
					<div>Until:</div>
					<div>Benchmark:</div>
					<div>Framework:</div>
					<div>Device:</div>
					<div>Experiment status:</div>
					<div>Number of warm-up iterations:</div>
					<div>Number of iterations:</div>
				</div>
				<div class=flex-item id="anotherflex">
					<ul id="another" class="info">
						<li>
							<div id="currentCounter" class="value">N/A</div>
						</li>
						<li>
							<div id="counterEnd" class="value">N/A</div>
						</li>
						<li>					
							<div id="currentTest" class="value">N/A</div>
						</li>
						<li>					
							<div id="framework" class="value">Ionic</div>
						</li>
						<li>					
							<div id="device" class="value">N/A</div>
						</li>
						<li>					
							<div id="isExperimentStopped" class="value">N/A</div>
						</li>
						<li>					
							<div id="viewNWarmUpIter" class="value">N/A</div>
						</li>
						<li>					
							<div id="viewNIter" class="value">N/A</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>


	<div class=container>
			<div id="actionsPanel" class=fixed>
				<h2>Actions</h2>
				<div class="container">
				<button onclick="startExperiment()">Start experiment</button>
				<button onclick="stopExperiment()">Stop experiment</button>
				<button onclick="listDevices()">List devices</button>
				<button onclick="showDeviceIpAddress()">Show device IP address</button>
				<button onclick="wakeUpDevice()">Wake up device</button>
				<button onclick="fullRun()">Run all the benchmarks starting from the current one</button>
				<button onclick="installApkBtnClicked()">Pick APK to install</button>
				</div>
			</div>
			<div id="log" class="flex-item">
				<h2>Log</h2>
				<div id="logbox">
					<ul id="logList">
					</ul>
				</div>
			</div>
			<input type="file" onchange="installApk(event)" id="fileInp" style="display: none"/>
	</div>	

</body>

<script>
var refreshTimeout=1000;
function installApkBtnClicked(){
	document.getElementById("fileInp").value = "";
	document.getElementById("fileInp").click();
}
function installApk(event){
	let file = event.target.files[0];
	if(file) {
		ajaxRequest("GET",`/install_apk?file_path=${file.name}`,addResponseToLog);
	}
}
function addToLog(text){
	var newItem = document.createElement("li");
	if(text.includes("Error")){
		newItem.className = "error";
	}
	var text = document.createTextNode(text);
	newItem.appendChild(text);
	document.getElementById("logList").appendChild(newItem);
	var logbox = document.getElementById("logbox");
	logbox.scrollTop=logbox.scrollHeight;
}
function addResponseToLog(){
	if (this.readyState == 4 && this.status == 200) {
		addToLog(this.responseText);
	}
}
function ajaxRequest(method,url,callbackMethod){
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = callbackMethod;
  	xhttp.open(method, url, true);
  	xhttp.send();
}
function enableDisableSettingsButton(enable){
	document.getElementById("changeSettingsButton").disabled=enable;
}
function onRefreshPage() {
	if (this.readyState == 4 && this.status == 200) {
    	var response = JSON.parse(this.responseText);
    	document.getElementById("currentCounter").innerHTML=response.counter.current;
    	document.getElementById("counterEnd").innerHTML=response.counter.until;
    	document.getElementById("currentTest").innerHTML=response.currentTest;
    	document.getElementById("isExperimentStopped").innerHTML=response.stop?"Stopped":"Running";
    	document.getElementById("framework").innerHTML=response.framework;
    	document.getElementById("device").innerHTML=response.device;
    	document.getElementById("viewNWarmUpIter").innerHTML=response.nWarmUpIterations;
    	document.getElementById("viewNIter").innerHTML=response.nIterations;
    	enableDisableSettingsButton(!response.stop);
    } else {
    	if(this.readyState == undefined)
    		addToLog("Error on data refresh! Info:"+this.readyState+" "+this.status);
    }
}
function refreshPage(){
  	ajaxRequest("GET","/info",onRefreshPage);
}
function changeSettings(){
	var initialCounter = document.getElementById("inpInitialCounter").value;
	var endingCounter = document.getElementById("inpEndingCounter").value;

	var experimentName = document.getElementById("inpExperimentName").value;
	var selectedExperiment = document.getElementById("inpExperimentName").options[document.getElementById("inpExperimentName").selectedIndex];
	var experimentFullName = selectedExperiment.text;
	
	var frameworkName = document.getElementById("inpFramework").value;
	var frameworkData = document.getElementById("inpFramework").options[document.getElementById("inpFramework").selectedIndex];
	var frameworkFullName = frameworkData.text;
	var experimentApplicationId = frameworkData.getAttribute("data-application-id");
	var experimentMainActivity = frameworkData.getAttribute("data-main-activity");
	
	var device = document.getElementById("inpDevice").value;
	var urlParameters = "dummy=dummy";
	var nWarmUpIterations = document.getElementById("inpNWarmUpIter").value;
	var nIterations = document.getElementById("inpNIterations").value;

	if( (initialCounter != undefined) && (initialCounter != "") )
		urlParameters+="&counter="+initialCounter;

	if( (endingCounter != undefined) && (endingCounter != "") )
		urlParameters+="&until="+endingCounter;

	if( (experimentName != undefined) && (experimentName != "") )
		urlParameters+="&choosenTest="+experimentName;

	if( (experimentFullName != undefined) && (experimentFullName != "") )
		urlParameters+="&fullName="+experimentFullName;

	if( (device != undefined) && (device != "") )
		urlParameters+="&device="+device;

	if( (frameworkName != undefined) && (frameworkName != "") )
		urlParameters+="&framework="+frameworkName;

	if( (frameworkFullName != undefined) && (frameworkFullName != "") )
		urlParameters+="&frameworkFullName="+frameworkFullName;

	if( nWarmUpIterations && (nWarmUpIterations != "") )
		urlParameters+="&nWarmUpIterations="+nWarmUpIterations;

	if( nIterations && (nIterations != "") )
		urlParameters+="&nIterations="+nIterations;
	
	if(experimentApplicationId && (experimentApplicationId !== ""))
		urlParameters+="&applicationId="+encodeURI(experimentApplicationId);

	if(experimentMainActivity && (experimentMainActivity !== ""))
		urlParameters+="&mainActivity="+encodeURI(experimentMainActivity);

  	ajaxRequest("GET","/set?"+urlParameters,addResponseToLog);
}

function startExperiment(){
  	ajaxRequest("GET","/start",addResponseToLog);
}
function fullRun(){
  	ajaxRequest("GET","/full_run",addResponseToLog);
}
function stopExperiment(){
	ajaxRequest("GET","/stop",addResponseToLog);
}
function listDevices(){
	ajaxRequest("GET","/list_devices",addResponseToLog);
}
function showDeviceIpAddress(){
	ajaxRequest("GET","/show_device_ip_address",addResponseToLog);
}
function wakeUpDevice(){
	ajaxRequest("GET","/wake_up_device",addResponseToLog);	
}

setInterval(refreshPage,refreshTimeout);

</script>

</html>