option.set,option.map{
	display:none;
}

#containerExp{
    background-color:#fff;
    display:flex;
    padding: 0px;
}


.info, #logList, .form {
	list-style: none;
	padding-left: 0px;
}

h2{
	margin-top: 2px;
}

div{
    color: #fff;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 10px;
}
#another{
	margin-top: 3px;
	margin-bottom: 0px;
}

#another div{
	padding-bottom: 3px;
	padding-top: 4px;
	color: black;
	font-weight: bold;

}

#containerlabels2{
	margin-top: 27px;
}

.error{
	color: firebrick;
}

#another li{
	padding-bottom: 3px;
	padding-top: 3px;
	
}

#anotherflex{
	padding-top: 0px;
	padding-bottom: 0px;
}

#labels2{
	padding-top: 3px;
	padding-bottom: 5px;
}
#labels2 div{
	padding-bottom: 3px;
	padding-top: 3px;
}

input[type=button] {    
  display: block;
  width: 50%;
  margin: 0 auto;
}

#divbutton{
padding-top: 10%;
  display: table-cell;
  vertical-align: middle;
}

#inpExperimentName{
	width:100%;
	height: 21px;
}

#inpFramework{
	width:100%;
	height: 21px;
}


#flex li{
	padding-top: 3px;
}

#flex input{
	 width:100%;
}

#labels{
	padding-top: 15px;
	width: 168px;
}


#labels div{
	padding-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.container{
    background-color:#2E4272;
    display:flex;
}
.fixed{
    background-color:#4F628E;
    max-width: 600px
}
.flex-item{
    background-color:#7887AB;
    flex-grow: 1;
}

#settingsPanel{
	width: 600px;
}

#logList {
	padding-top: 0px;
	margin-top: 0px;
}

.label, .value {
	display: inline;
}

#logbox {
	border-style: solid;
	border-width: 1px;
	height: 100px;	
	resize: both;
    overflow: auto;
}

div#logbox {
	color: lightgreen;
	font-family: "Consolas";	
}

.form{
	margin-top: 5px;
	margin-bottom: 4px;
}

.form > li {
	padding-top: 5px;
	padding-bottom: 6px;
}